* {
    margin: 0;
    border: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    scroll-behavior: smooth;
}

img {
    width: 100%;
    height: auto;
}

a {
    text-decoration: none;
}


.container {
    justify-content: space-between;
    display: flex;
    align-items: center;
    margin: 0 150px;
}


#header {
    background-color: rgb(72, 72, 124);
    height: 200px;
}

#header img {
    width: 190px;
}

.head {
    display: flex;
    align-items: center;
}

.head h1 {
    color: white;
    font: 600 50px 'Poppins', sans-serif;
}

.painel img {
    height: 350px;
    object-fit: cover ;
    border-top: white 5px solid;
    border-bottom: white 2px solid;
}

.texto {
    background-color: rgba(98, 91, 124, 0.877);
    height: 230px;
}

.conteudo {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.conteudo h2 {
    color: rgb(0, 0, 0);
    font: 450 35px 'Poppins', sans-serif;
    margin-top: 25px;
    margin-bottom: 25px;
    border-bottom: rgb(0, 0, 0) 2px solid;
} 

.conteudo p {
    text-align: center;
    font: 400 20px 'Poppins', sans-serif;
}

.tudo {
    background-color: rgb(202, 202, 199);
    display: flex;
    justify-content: center;
}

.caixa h1 {
    text-align: center;
    margin-top: 30px;
    color: rgb(27, 36, 75);
    font: 700 42px 'Poppins', sans-serif;
    border-bottom: rgb(32, 37, 88) 2px solid;
}

.livrinho {
    width: 50px;
}

.numeros {
    margin-top: 20px;
    margin-bottom: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#quantidadeLivros {
    font: 500 27px 'Poppins', sans-serif;
}

#nomeLivro {
    padding: 15px 50px;
    border-radius: 10px;
}

#autorLivro {
    padding: 15px 50px;
    border-radius: 10px;
}

#anoLivro {
    padding: 15px 50px;
    border-radius: 10px;
}

input {
    margin-left: 20px;
}

.form {
    margin-top: 20px;
    text-align: center;
}

button {
    font: 500 15px 'Poppins', sans-serif;
    color: white;
    margin-top: 20px;
    background-color: #2e2b50;
    border-radius: 30px;
    padding: 12px 25px;
}

button:hover {
    background-color: #6a729e;
    color: #f2e9ff;
    cursor: pointer;
}

.carrossel {
    display: flex;
    justify-content: center;
}

.carrossel img {
    margin-top: 30px;
    width: 240px;
    border-radius: 15px;
}

.carrossel button {
    height: 50px;
}

.acao {
    background-color: rgb(202, 202, 199);
    padding-bottom: 50px;
}

.botao {
    text-align: center;
}

#mensagem {
    margin-top: 17px;
    font: 500 17px 'Poppins', sans-serif;
}

#footer {
    background-color: rgb(72, 72, 124);
    height: 140px;
    padding-top: 100px;
}

#footer h1 {
    color: white;
    font: 500 25px 'Poppins', sans-serif;
    text-align: center;
    border-bottom: rgba(150, 150, 150, 0.795) 0.5px solid;
}
